
/.vs
/bin
/obj
.vs/CalamityInheritance/v17/DocumentLayout.json
.vs/CalamityInheritance/v17/DocumentLayout.json
obj/Release/net8.0/CalamityInheritance.AssemblyInfo.cs
obj/Release/net8.0/CalamityInheritance.AssemblyInfoInputs.cache
obj/Release/net8.0/CalamityInheritance.csproj.AssemblyReference.cache
